.App {
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #FFAC89;
  text-decoration: underline;
}

a.info:link {
  color: #FF7134;
  text-decoration: none;
}
a.info:visited {
  color: #FF7134;
  text-decoration: none;
}
a.info:hover {
  color: #7031A1;
  text-decoration: underline;
}

a.title-link:link {
  color: white;
  text-decoration: none;
}
a.title-link:visited {
  color: white;
  text-decoration: none;
}
a.title-link:hover {
  color: #FFAC89;
  text-decoration: none;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 30px;
}

ul.package-list {
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
}

.info-list-div {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p.header {
  margin-block-start: 0px;
  margin-block-end: 26px;
}

form {
  margin-left: 80px;
  margin-bottom: 30px;
}

.basicContainer {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #7031A1;
  background-color: #7031A1;
}
.basicContainer:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #FFAC89;
  background-color: #7031A1;
}

.Package-Info-Container {
  padding-top: 10px;
  padding-bottom: 28px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: white;
}

.Poetry-parser {
  background-color: #632495;
}

body {
  background-color: #632495;
}

.main-content {
  padding-top: 170px;
  padding-left: 90px;
  padding-right: 90px;
}

.main-content-info {
  padding-top: 170px;
  padding-left: 240px;
  padding-right: 90px;
}

.sidebar {
  position: fixed;
  width: 200px;
  overflow-y: scroll;
  top: 170px;
  bottom: 0;
}

.App-header {
  background-color: #632495;
  min-height: 170px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

